<div id="deal-list">
  
<%= render 'layouts/history' %>
	<% @feeds.each do |feed_entry| %>

	<% if feed_entry.published.between? Time.now-3.day, Time.now-2.day %> 

	<div id ="deal">
		<a href=<%=h feed_entry.url %> title="<%=h feed_entry.name %>">
			<table>
				<tbody>
					<tr>
						<td>
						<img src= <%=h feed_entry.picture.gsub(/\s/,'%20')%> 
							 alt =<%=h feed_entry.name %> height='160'>
						</td>
					</tr>
					<tr class="deal_price">	
						<td class="price">
							<%=h feed_entry.price %>
						</td>
						<td class="fullprice">
							 <%=h feed_entry.fullprice %>	
						</td>
					</tr>
					
					<tr>
	 					<td class="deal_site"> 
								<%=h feed_entry.home%>
						</td>
					</tr>
					
					<tr>
						<td class="deal_name">
							<h3> 
								<%=h feed_entry.name.length >59? feed_entry.name[0..59]<<'...': feed_entry.name unless feed_entry.name.nil? %> 
								
							</h3>
						</td>
					</tr>
				</tbody>
			</table>
		</a>
 	</div>

		<%end%>
	 	<%end%>
	</div>



