<div id="deal-list">
  
	<% @feeds.sort_by { |feed_entry| feed_entry[:price]}.each do |feed_entry| %>

	<% if feed_entry.published>=Time.now-1.day %> 

  	<div id = "deal" >
		<table>
			<tbody>
				<tr>
					<a href=<%=h feed_entry.url %>> 
						<img src= <%=h feed_entry.picture.gsub(/\s/,'%20')%> 
						title=<%=h feed_entry.name %> alt =<%=h feed_entry.name %> height='160'>
					</a>
				</tr>
				<tr>	
					<td class="deal_price">
						<%=h feed_entry.price %>
					</td>
				</tr>
<!--				<tr>
 					<td class="deal_site">
						<a href=<%=h feed_entry.home_url %>> 
							<%=h feed_entry.home%>
						</a>
					</td>
				</tr>
-->
				<tr>
					<td class="deal_name">
						<a href=<%=h feed_entry.url %>> 
							<%=h feed_entry.name.length >55? feed_entry.name[0..55]<<'...': feed_entry.name unless feed_entry.name.nil? %>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
 	</div>
	<%end%>
 	<%end%>
</div>



