<div id="deal-list">
  
	<% @feeds.sort_by { |feed_entry| feed_entry[:rank]}.each do |feed_entry| %>

	<% if feed_entry.published>=Time.now-1.day %> 
	<div id ="deal">
		<a href=<%=h feed_entry.url %> title="<%=h feed_entry.name %>">
				<div id ="deal_image"> 
					<img src= <%=h feed_entry.picture%> 
				 	alt =<%=h feed_entry.name %> height='160'>
				</div>
				<div id="deal_name">
						<h3> 
							<%=h feed_entry.name.length >59? feed_entry.name[0..59]<<'...': feed_entry.name unless feed_entry.name.nil? %> 	
						</h3>
				</div>
					
				<div id="deal_price">	
					<div id="price">
						<%=h feed_entry.price %>
					</div>
				</div>

				<div id="fullprice">
					 <%=h feed_entry.fullprice %>	
				</div>

				<div id = "deal_bottom"></div>
				<div id = "deal_stock" style="width:<%=h feed_entry.stock %>%"></div>
				<div id="deal_site"> 
							<%=h feed_entry.home%>
				</div>

				<div id="deal_expires">
					Expires <%=h (feed_entry.published+12).strftime(fmt='%l%P')%>
				</div>

				

		</a>
 	</div>


	<%end%>
 	<%end%>
</div>
