<div id="deal-list">
	<h1>Today's Deals'</h1>

<table>
  <%#- tr>
    <th>Title</th>
    <th>Price</th>
    <th>Fullprice</th>
    <th>Picture</th>
    <th>Site</th>
  </tr %>
<% @feeds.each do |feed_entry| %>
<%#- if <%=h feed_entry.guid[a-zA-Z:\/\/a-zA-Z+\.\d\-[a-z]+\.] > = "http://feed.1-day."%>
  <dl class = "deal" >
	
    <dt><%=h feed_entry.name %></dt>
    <dd><img src= "http://www.1-day.co.nz/images/products/<%=h feed_entry.guid[/\w+\z/]%>_small.jpg" title =<%=h feed_entry.name %> ></dd>
 	<dd><%=h feed_entry.price %></dd>
  </dl>
 <%end%>
</table>
</div>
<br />
  <td><%-# feed_entry.description -%></td>


<dd><%#- h feed_entry.fullprice %></dd >