<div id="deal-list">
  

	<% @feeds.each do |feed_entry| %>

	<% if feed_entry.published>=Time.now-1.day %> 

  	<div id = "deal" >
	
    	
    	<dd><a href=<%=h feed_entry.url %>> <img src= <%=h feed_entry.picture.gsub(/\s/,'%20')%> title=<%=h feed_entry.name %> alt =<%=h feed_entry.name %> height='160'></a></dd>
<dt class="deal_price"><%=h feed_entry.price %></dt>
<dd><a href=<%=h feed_entry.url %>> <%=h feed_entry.name.length >65? feed_entry.name[0..65]<<'...': feed_entry.name unless feed_entry.name.nil? %></a> </dd>
		
		<dd class="deal_site"><a href=<%=h feed_entry.home_url %>> <%=h feed_entry.home%> </a></dd>
 		
	
  	</div>
	<%end%>
 	<%end%>
</div>



