<div id="deal-list">
  

	<% @feeds.each do |feed_entry| %>

  	<div id = "deal" >
	
    	<dd><a href=<%=h feed_entry.url %>> <%=h feed_entry.name %> </a> </dd>
    	<dd><a href=<%=h feed_entry.url %>><img src= <%=h feed_entry.picture.gsub(/\s/,'%20')%> title=<%=h feed_entry.name %> alt =<%=h feed_entry.name %> height='150'></a></dd>
		<dr><%=h feed_entry.price %></dr><br/>
		<dr><a href=<%=h feed_entry.url %>> <%=h feed_entry.home%> </a></dr>
 		
	
  	</div>
 	<%end%>
</div>

