<%= render 'layouts/sidebar' %>
<% render_component :controller=> 'signups', :action => 'index', :params => params %>
<div id="deal-list">
  	<% deal_id = 0%>
		<% @feeds.each do |feed_entry| %>



	<% deal_id += 1%>
	
	<% if deal_id<=6 %>
	<% dealid = (((deal_id+2)%3)+1) %>
	<% else %>
	<% dealid = (((deal_id+1)%4)+1) %>
	<%end%>

	
	<div id ="deal" class="deal-<%= dealid %>" > 
		<a href=<%=h feed_entry.url %> onMouseup="recordOutboundLink(this, 'Outbound Links', '<%=h feed_entry.home%>');" title="<%=h feed_entry.name %>">
			<div id ="deal_inner">
				<div id ="deal_image"> 
					<img src= <%=h feed_entry.picture%> 
				 	alt ="<%=h feed_entry.name %>">
				</div>
				
				<div id="deal_price">	
					<div id="price">
						<%=h feed_entry.price %>
					</div>
				</div>
				
				<div id="deal_name">
						<h3> 
							<%=h feed_entry.name.length >59? feed_entry.name[0..59]<<'...': feed_entry.name unless feed_entry.name.nil? %> 	
						</h3>
				</div>
					
			</div>
				
				<div id = "deal_bottom">
					
					<div id="fullprice">
					 	<%=h feed_entry.fullprice %>	
					</div>
			
					<div id="deal_site"> 
						<%=h feed_entry.home%>
					</div>

					<div id="deal_expires">
						Expires <%=h (feed_entry.published+12).strftime(fmt='%l%P')%>
					</div>
				
					<div id = "deal_stock_bar">
						<div id = "deal_stock" style="width:<%=h feed_entry.stock%>% <% if feed_entry.stock == 0 %> ; display:none <%end%>">
						</div>
					</div>
				</div>
			</a>
			
				<% if feed_entry.stock == 0 %>
				<div id = "sold_out">
					<img src="/images/soldout.png" alt="Sold Out">
				</div>
				<%end%>
		
 	</div>



 	<%end%>
</div>
