#newsletter
  #newstop
    %h1 Never miss a deal again
    %h3 Want customized alerts for NZ's best deals?
    %h3 Do you just want to hear about deals on the products and services you'd buy?
    %h3 Do you want your deals by email and SMS?
    %h3 For a low monthly fee you'll never miss a deal again
    
   
  
  =form_for @signup, :as => :signup do |f|
    %h4 Sign up today
  
    = f.label :email, "Full Name"
    = f.text_field :name
   
   
    = f.label :email, "Email Address"
    = f.text_field :email
    
    = f.label :city
    = f.text_field :city
    
    =f.label :details, "What sort of deals are you looking for?"
    %p{:style => "padding:3px;color:#888"} Don't worry too much, you can always change it later
    =f.text_area :details, :cols => 30, :rows => 8
    =f.submit "Sign Up"
    


  
