
<div id="deal-list">

	<% @feeds.sort_by { |feed_entry| feed_entry[:rank]}.each do |feed_entry| %>

	<% if feed_entry.published>=Time.now-1.day %>



	
	<div id ="deal" style="border:1px solid #999999;vertical-align:top;-moz-box-shadow:0 0 2px #999999;-webkit-box-shadow:0 0 2px #999999;background-color:#FFFFFF;display:inline-block;height:195px;list-style-type:none;margin-top:2px;margin-bottom: 6px;text-align:center;width:195px;"> 
		<a href=<%=h feed_entry.url %> title="<%=h feed_entry.name %>" style="text-decoration:none">
			<div id ="deal_inner" style="height:175px;padding-top:4px;">
				<div id ="deal_image" style="height:150px;"> 
					<img style="border:none;margin-bottom:auto;	margin-top:auto; height:140px;max-width:194px;" src= <%=h feed_entry.picture%> 
				 	alt ="<%=h feed_entry.name %>">
				</div>
				
				<div id="deal_price" style="moz-box-shadow:0 0 1px white;-webkit-box-shadow:0 0 1px white;background-color:red;margin-top:-65px; margin-left: 0px;width:94px;opacity:0.8;padding:3px;">	
					<span id="price" style="font-size:13pt;vertical-align:baseline;color:white;font-family:verdana;font-weight:bold;opacity:1;text-shadow:1px 1px 4px #333333;">
						<%=h feed_entry.price %>
					</span>
				</div>
				
				<div id="deal_name" style="font-family:helvetica, arial;margin-top:30px;color:black;font-weight:normal;line-height:1.1;padding-top:1px;text-align:center;width:195px;">
						<h3 style="display:inline; color:black; font-size:10pt;font-weight:normal;"> 
							<%=h feed_entry.name.length >50? feed_entry.name[0..50]<<'...': feed_entry.name unless feed_entry.name.nil? %> 	
						</h3>
				</div>
					
			</div>
				
				<div id = "deal_bottom" style="text-align:left;vertical-align:bottom;background-color:#999999;height:15px;margin-top:-3px;padding:0px 4px 4px 0px;width:191px;">
					<span id="deal_expires" style="font-family:helvetica, arial;border:0 none;font-size:8pt;vertical-align:baseline;color:black;margin-left:5px;">
						Expires <%=h (feed_entry.published+12).strftime(fmt='%l%P')%>
					</span>
					
			
					<span id="deal_site" style="font-family:helvetica, arial;font-size:8pt;vertical-align:baseline;color:white;text-align:center;margin-left:5px;width:195px;;"> 
						<%=h feed_entry.home%>
					</span>

					<span id="fullprice" style="margin-top:-3px;width:191px; text-align:right;font-size:9pt;vertical-align:baseline;color:black;margin-left:5px;font-family:verdana;font-weight:normal;margin-top:-2px margin-right: 135px;text-decoration:line-through;">
					 	<%=h feed_entry.fullprice %>	
					</span>
			
				</div>
			</a>
			
 	</div>


	<%end%>
 	<%end%>
</div>
