<div id="header">
  <ul class= "logo"><li><%= link_to logo, root_path%><img class="logopic" src="images/ninja.png"></li>
	<ul class = "sub-logo"><li>NZ's best daily deals in one place</li></ul>
  <ul class="navigation" >
	<li>&nbsp;</li>
    <li><%= link_to "Today's Deals", root_path %></li>
  	<li><%= link_to "Yesterday's Deals", yesterday_path %></li>
    <li><%= link_to "Help", help_path %></li>
	<li><%= link_to "About", about_path %></li>
	
	
 
 </ul>
 </ul>
</div>