<div id= 'navigation'>
	<ul>
	    <li><%= link_to "Today's Deals", root_path %></li>
		<li><%= link_to "FAQ", faq_path %></li>
	    <li><%= link_to "Help", help_path %></li>
<!--	<li><%= link_to "About", about_path %></li> --!>
	  	<li><%= link_to "Previous Deals", yesterday_path %></li>
		<li><%= feedback_link "Leave us feedback!" %></li>
 	</ul>
</div>